<template>
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h4 class="card-header-title">Upload images</h4>
        </div>
        <div class="col-auto">
          <button class="btn btn-link" @click="removeSelf">
            <i class="fe fe-trash-2 text-danger"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div>
        <multi-file-uploader
          :base-api-url="baseApiUrl"
          drag-text="Upload multiple images"
          browse-text="Or select an image"
          @upload-success="uploadImageSuccess"
        ></multi-file-uploader>
      </div>
    </div>
  </div>
</template>

<script>
import MultiFileUploader from "./MultiFileUploader.vue";
export default {
  name: "ImageContentInput",
  components: {
    MultiFileUploader
  },
  props: {
    baseApiUrl: {
      type: String
    }
  },
  data() {
    return {
      images: []
    };
  },
  methods: {
    uploadImageSuccess(data, length, images) {
      this.images = images;
    },
    removeSelf() {
      this.$emit("remove-self");
    },
    getContent() {
      return {
        type: "image",
        content: this.images.map(image => image.path)
      };
    }
  }
};
</script>

<style>
</style>