<template>
  <div style="outline: none;">
    <div class="image-container position-relative text-center" v-if="!files.length">
      <div class="drag-upload-cover position-absolute" v-if="isDragover" @drop="onDrop">
        <div class="centered full-width text-center text-primary">
          <i class="fe fe-2x fe-file"></i>
          <h4 class="drop-text-here">
            <b>Drop here to upload</b>
          </h4>
        </div>
      </div>
      <div
        v-else
        class="image-center position-absolute display-flex flex-column justify-content-center align-items-center"
        @dragover.prevent="onDragover"
      >
        <div>
          <i class="fe fe-2x" :class="uploadIcon"></i>
        </div>
        <div class="text-center">
          <label class="drag-text">{{dragText}}</label>
          <br />
          <a class="browse-text">{{browseText}}</a>
        </div>
        <div class="image-input position-absolute full-width full-height">
          <label :for="idUpload" class="full-width full-height cursor-pointer"></label>
        </div>
      </div>
    </div>

    <div class="d-flex flex-wrap justify-content-center" v-else>
      <div
        class="image-container position-relative text-center image-list m-2"
        v-for="(file, index) in files"
        :key="index"
      >
        <div class="preview-image full-width position-relative cursor-pointer">
          <div class="show-image centered">
            <img
              class="show-img img-responsive"
              :src="file.path"
              v-if="file.type.indexOf('image') >= 0"
            />

            <video
              autoplay="false"
              class="show-img img-responsive"
              :src="file.path"
              v-if="file.type.indexOf('video') >= 0"
            />

            <small
              v-if="file.type.indexOf('video') < 0 && file.type.indexOf('image') < 0"
            >{{file.name | ellipsis}}</small>
          </div>
        </div>
        <div
          class="image-bottom display-flex position-absolute full-width align-items-center justify-content-between"
          :class="!showPrimary && 'justify-content-end'"
        >
          <div class="display-flex">
            <a class="image-delete display-flex cursor-pointer" @click.prevent="deleteFile(index)">
              <i class="fe fe-trash-2"></i>
            </a>

            <div v-if="file.uploading">
              <i class="fe fe-loader"></i> Uploading...
            </div>

            <div class="text-danger" v-if="file.uploadingFailed">
              <i class="fe fe-x"></i> Failed upload
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="image-list-container display-flex flex-wrap" v-if="files.length && multiple">
      <div
        class="image-list-item position-relative cursor-pointer display-flex justify-content-center align-items-center"
      >
        <i class="fe fe-2x fe-plus"></i>
        <div class="input-add-image position-absolute full-width full-height">
          <label :for="idUpload" class="display-block full-width full-height cursor-pointer"></label>
        </div>
      </div>
    </div>
    <div>
      <input
        class="display-none"
        :id="idUpload"
        @change="uploadFieldChange"
        name="files"
        :multiple="multiple"
        :accept="accept"
        type="file"
      />
    </div>
  </div>
</template>

<script>
import { cloneDeep } from "lodash";
import axios from "axios";
export default {
  name: "MultiFileUploader",
  props: {
    uploadIcon: {
      type: String,
      default: "fe-upload-cloud"
    },
    baseApiUrl: {
      type: String
    },
    dragText: {
      type: String,
      default: "Upload multiple"
    },
    browseText: {
      type: String,
      default: "(or) Select"
    },
    primaryText: {
      type: String,
      default: "Default"
    },
    accept: {
      type: String,
      default: "image/gif,image/jpeg,image/png,image/bmp,image/jpg"
    },
    dataFiles: {
      type: Array,
      default: () => {
        return [];
      }
    },
    multiple: {
      type: Boolean,
      default: true
    },
    showPrimary: {
      type: Boolean,
      default: true
    },
    maxFile: {
      type: Number
    }
  },
  data() {
    const componentIdentifier = this.generateIdentifier();
    return {
      componentIdentifier: componentIdentifier,
      files: [],
      isDragover: false
    };
  },
  components: {},
  computed: {
    idUpload() {
      return `${this.componentIdentifier}-file-upload`;
    }
  },

  methods: {
    generateIdentifier() {
      return (
        Math.random()
          .toString(36)
          .replace(/[^a-z]+/g, "")
          .substr(2, 10) +
        "-" +
        Math.random()
          .toString(36)
          .replace(/[^a-z]+/g, "")
          .substr(2, 10)
      );
    },
    onDrop(e) {
      this.isDragover = false;
      e.stopPropagation();
      e.preventDefault();
      let files = e.dataTransfer.files;
      if (!files.length) {
        return false;
      }
      if (!this.isValidNumberOfFiles(files.length)) {
        return false;
      }

      Array.from(files).forEach(value => {
        this.createFile(value);
        if (!this.multiple) {
          return false;
        }
      });
      if (document.getElementById(this.idUpload)) {
        document.getElementById(this.idUpload).value = [];
      }
    },
    onDragover() {
      this.isDragover = true;
    },
    createFile(file) {
      let reader = new FileReader();
      reader.onload = e => {
        let dataURI = e.target.result;
        if (!dataURI) {
          return;
        }

        if (file.type.includes("image")) {
          const img = new Image();
          img.onload = () => {
            const fileName = `XD-${img.width}X${img.height}-${file.name}`;
            this.uploadToS3(dataURI, file, fileName);
          };
          img.src = dataURI;
        } else {
          this.uploadToS3(dataURI, file, file.name);
        }
      };

      reader.readAsDataURL(file);
    },

    uploadToS3(dataURI, file, fileName) {
      const identifier = this.generateIdentifier();

      this.files.push({
        identifier,
        name: fileName,
        type: file.type,
        path: dataURI,
        uploading: true,
        uploadingFailed: false,
        uploadingSucceeded: false,
        default: 0
      });
      axios
        .get(
          `${this.baseApiUrl}/parents/media/upload-link?name=${identifier}/${fileName}&type=${file.type}`,
          {
            headers: {
              "X-Requested-With": "XMLHttpRequest"
            },
            withCredentials: true
          }
        )
        .then(
          res => {
            const requestUrl =
              res && res.data && res.data.body && res.data.body.original;

            if (requestUrl) {
              const fileURL = requestUrl.split("?")[0];
              axios
                .put(requestUrl, file, {
                  timeout: 120000,
                  withCredentials: false
                })
                .then(
                  res => {
                    console.dir(res);
                    this.markAsSuccessfulUpload(identifier, fileURL);
                  },
                  err => {
                    console.error(err);
                    this.markAsFailedUpload(identifier);
                  }
                );
            }
          },
          err => {
            console.error(err);
            this.markAsFailedUpload(identifier);
          }
        );
      let formData = new FormData();
      formData.append("file", file);
      this.$emit("upload-success", formData, this.files.length - 1, this.files);
    },
    markAsSuccessfulUpload(identifier, fileURL) {
      const { file, index } = this.findFileByIdentifier(identifier);

      if (file) {
        file.uploading = false;
        file.uploadingSucceeded = true;
        file.uploadingFailed = false;
        file.path = fileURL;
        this.$set(this.files, index, file);
      }
    },
    markAsFailedUpload(identifier) {
      const { file, index } = this.findFileByIdentifier(identifier);

      if (file) {
        file.uploading = false;
        file.uploadingSucceeded = false;
        file.uploadingFailed = true;
        this.$set(this.files, index, file);
      }
    },

    findFileByIdentifier(identifier) {
      const index = this.files.findIndex(file => {
        return file.identifier == identifier;
      });
      return {
        file: this.files[index],
        index
      };
    },
    uploadFieldChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return false;
      }
      if (!this.isValidNumberOfFiles(files.length)) {
        return false;
      }
      Array.from(files).forEach(value => {
        this.createFile(value);
      });
      if (document.getElementById(this.idUpload)) {
        document.getElementById(this.idUpload).value = [];
      }
    },
    deleteFile(currentIndex) {
      this.files.splice(currentIndex, 1);
    },
    isValidNumberOfFiles(amount) {
      if (this.maxFile && amount > this.maxFile) {
        this.$emit("limit-exceeded", amount);
        return false;
      } else {
        return true;
      }
    }
  },
  watch: {
    dataFiles: {
      handler: function(newVal) {
        this.files = newVal;
      },
      deep: true
    }
  },
  mounted() {
    // [
    //   "drag",
    //   "dragstart",
    //   "dragend",
    //   "dragover",
    //   "dragenter",
    //   "dragleave",
    //   "drop"
    // ].forEach(event => {
    //   window.addEventListener(event, e => {
    //     e.preventDefault();
    //     e.stopPropagation();
    //   });
    // });
    // document.body.addEventListener("dragleave", event => {
    //   event.stopPropagation();
    //   event.preventDefault();
    //   this.isDragover = false;
    // });
  },
  created() {
    this.files = [];
    this.files = cloneDeep(this.dataFiles);
  }
};
</script>

<style lang="css" scoped>
.text-small {
  font-size: 11px;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.text-center {
  text-align: center;
}
.text-primary {
  color: #2fa3e6;
}
.display-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-center {
  align-items: center;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.cursor-pointer {
  cursor: pointer;
}
.centered {
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  position: absolute;
  display: block;
}
.image-container {
  width: 190px;
  height: 180px;
  border: 1px dashed #d6d6d6;
  border-radius: 4px;
  background-color: #fff;
}
.image-center {
  width: 100%;
  height: 100%;
}
.image-icon-drag {
  fill: #c9c8c8;
  height: 50px;
  width: 50px;
}
.drag-text {
  padding-top: 5px;
  color: #777;
  font-weight: 400;
  line-height: 1.5;
}
.browse-text {
  font-size: 86%;
  color: #206ec5;
  text-decoration: none;
}
.image-input {
  overflow: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.image-input label {
  display: block;
}
.drag-upload-cover {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fcfeff;
  opacity: 0.9;
  z-index: 1;
  margin: 5px;
  border: 2px dashed #268ddd;
}
.drag-upload-cover {
  font-weight: 400;
  font-size: 20px;
}
.icon-drag-drop {
  height: 50px;
  width: 50px;
  fill: #2fa3e6;
}
.drop-text-here {
  margin: 0;
  line-height: 1.5;
}
.display-none {
  display: none;
}

.image-list {
  border: 1px solid #d6d6d6;
}
.preview-image {
  height: 140px;
  padding: 5px;
  border-radius: 15px;
  box-sizing: border-box;
}
.image-overlay {
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
.image-overlay-details {
  position: absolute;
  z-index: 11;
  opacity: 0;
  transform: translate(0, -50%);
  top: 50%;
}
.icon-overlay {
  width: 40px;
  height: 40px;
  fill: #fff;
}
.preview-image:hover .image-overlay,
.preview-image:hover .image-overlay-details {
  opacity: 1;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.show-img {
  max-height: 100px;
  max-width: 140px;
  display: block;
  vertical-align: middle;
}
/*image bottom*/
.image-bottom {
  bottom: 0;
  left: 0;
  height: 40px;
  padding: 5px 10px;
  box-sizing: border-box;
}
.image-primary {
  border-radius: 4px;
  background-color: #e3edf7;
  padding: 3px 7px;
  font-size: 11px;
  margin-right: 5px;
}
.image-icon-primary {
  width: 10px;
  height: 10px;
  margin-right: 2px;
}
.image-icon-delete {
  height: 14px;
  width: 14px;
  fill: #222;
}
.image-edit {
  margin-right: 10px;
}
.image-icon-edit {
  height: 14px;
  width: 14px;
  fill: #222;
}
.image-list-container {
  max-width: 190px;
  min-height: 50px;
  margin-top: 10px;
}
.image-list-container .image-list-item {
  height: 32px;
  width: 32px;
  border-radius: 4px;
  border: 1px solid #d6d6d6;
}
.image-list-container .image-list-item:not(:last-child) {
  margin-right: 5px;
  margin-bottom: 5px;
}
.image-list-container .image-list-item .show-img {
  max-width: 25px;
  max-height: 17px;
}
.image-list-container .image-highlight {
  border: 1px solid #2fa3e7;
}
.add-image-svg {
  width: 12px;
  height: 12px;
  fill: #222;
}
.input-add-image {
  overflow: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 11;
}
.input-add-image label {
  display: block;
}
.image-icon-info {
  width: 14px;
  height: 14px;
  fill: #222;
}
.mark-text-primary {
  color: #034694;
}
.popper-custom {
  background: #000;
  padding: 10px;
  border: none;
  box-shadow: none;
  color: white;
  text-align: left;
  font-size: 12px;
}
</style>
<style lang="css">
.popper-custom .popper__arrow {
  border-color: #000 transparent transparent transparent !important;
}
</style>