<template>
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h4 class="card-header-title">Add text block</h4>
        </div>
        <div class="col-auto">
          <button class="btn btn-link" @click="removeSelf">
            <i class="fe fe-trash-2 text-danger"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body p-0">
      <quill-editor v-model="textContent" ref="myQuillEditor" :options="editorOption"></quill-editor>
    </div>
  </div>
</template>

<script>
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
import showdown from "showdown";
import { quillEditor } from "vue-quill-editor";
export default {
  name: "TextContentInput",
  params: {
    content: String | Array
  },
  components: {
    quillEditor
  },
  data() {
    const toolbarOptions = [
      ["bold", "italic", "underline", "strike"],
      [{ header: 1 }, { header: 2 }],
      [{ list: "ordered" }, { list: "bullet" }],
      ["clean"]
    ];
    return {
      textContent: this.content,
      editorOption: {
        modules: {
          toolbar: toolbarOptions
        }
      }
    };
  },
  methods: {
    getContent() {
      if (this.textContent && this.textContent.length) {
        const converter = new showdown.Converter();
        return {
          type: "text",
          content: converter.makeMarkdown(this.textContent)
        };
      }
      return null;
    },
    removeSelf() {
      this.$emit("remove-self");
    }
  },
  computed: {
    editor() {
      return this.$refs.myQuillEditor.quill;
    }
  }
};
</script>

<style>
</style>