<template>
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h4 class="card-header-title">Upload videos</h4>
        </div>
        <div class="col-auto">
          <button class="btn btn-link" @click="removeSelf">
            <i class="fe fe-trash-2 text-danger"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <multi-file-uploader
        :base-api-url="baseApiUrl"
        upload-icon="fe-video"
        drag-text="Upload multiple videos"
        browse-text="Or select a video"
        @upload-success="uploadVideoSuccess"
        accept="video/mp4, video/x-flv, video/3gpp, video/quicktime, video/x-msvideo, video/x-ms-wmv"
      ></multi-file-uploader>
    </div>
  </div>
</template>

<script>
import MultiFileUploader from "./MultiFileUploader.vue";
export default {
  name: "VideoContentInput",
  components: {
    MultiFileUploader
  },
  props: {
    baseApiUrl: {
      type: String
    }
  },
  data() {
    return {
      videos: []
    };
  },
  methods: {
    uploadVideoSuccess(data, length, videos) {
      this.videos = videos;
    },
    removeSelf() {
      this.$emit("remove-self");
    },
    getContent() {
      return {
        type: "video",
        content: this.videos.map(video => video.path)
      };
    }
  }
};
</script>

<style>
</style>