<template>
  <div>
    <div
      v-for="(content_item, index) in content"
      :key="content_item.identifier"
      v-dragging="{ item: content_item, list: content, group: 'content' }"
      class="mb-0"
    >
      <component
        :ref="`${content_item.identifier}_${content_item.type}_ref`"
        v-bind:is="contentComponentForItem(content_item.type)"
        :base-api-url="baseApiUrl"
        :content="content_item"
        @content-item-changed="contentItemChanged"
        @remove-self="() => removeContentItem(index)"
      ></component>
    </div>

    <div class="d-flex justify-content-center">
      <button @click="addContentType('text')" class="btn mr-3 btn-white btn-lg">
        <i class="fe fe-type"></i>
        <br />Add text
      </button>
      <button @click="addContentType('image')" class="btn mr-3 btn-white btn-lg">
        <i class="fe fe-image"></i>
        <br />Add photo(s)
      </button>
      <button @click="addContentType('video')" class="btn mr-3 btn-white btn-lg">
        <i class="fe fe-youtube"></i>
        <br />Embed video(s)
      </button>
    </div>
  </div>
</template>

<script>
import TextContentInput from "./components/TextContentInput.vue";
import VideoContentInput from "./components/VideoContentInput.vue";
import ImageContentInput from "./components/ImageContentInput.vue";

export default {
  name: "CommsContentForm",
  components: {
    TextContentInput,
    ImageContentInput,
    VideoContentInput
  },
  props: {
    baseApiUrl: {
      type: String
    }
  },
  data: () => {
    return {
      content: []
    };
  },
  mounted() {
    this.content.push({
      type: "text",
      identifier: this.getRandomIdentifier("text"),
      content: ""
    });
  },
  methods: {
    addContentType(type) {
      this.content.push({
        type,
        identifier: this.getRandomIdentifier(type),
        content: ""
      });
    },
    getContentItems() {
      return Object.keys(this.$refs)
        .filter(ref => {
          return ["text_ref", "image_ref", "video_ref"].some(inputRef =>
            ref.endsWith(inputRef)
          );
        })
        .map(ref => {
          return ref;
        })
        .map(ref => {
          const component = this.$refs[ref];
          if (component.length) {
            return component[0].getContent();
          }
          return null;
        })
        .filter(content => !!content);
    },
    removeContentItem(index) {
      this.content.splice(index, 1);
    },
    contentItemChanged() {},
    getRandomIdentifier(type) {
      return `${type}-xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx`.replace(
        /[xy]/g,
        c => {
          let r = (Math.random() * 16) | 0,
            v = c == "x" ? r : (r & 0x3) | 0x8;
          return v.toString(16);
        }
      );
    },
    contentComponentForItem(type) {
      let component = "";
      switch (type) {
        case "text":
          component = "text-content-input";
          break;
        case "image":
          component = "image-content-input";
          break;
        case "video":
          component = "video-content-input";
          break;
      }
      return component;
    }
  }
};
</script>

<style>
</style>